name = "kali-sessions"
main = "src/worker.ts"
compatibility_date = "2024-01-29"

routes = [
  { pattern = "kali.chewbacca.dev", custom_domain = true }
]

[[containers]]
class_name = "KaliSession"
image = "registry.cloudflare.com/cb3485d35912cf35f42f5f3505062d9b/kali-sessions-kalisession:9a85687d"
max_instances = 10
instance_type = "standard-2"

[containers.constraints]
regions = ["oc"]

[[durable_objects.bindings]]
name = "KALI_SESSION"
class_name = "KaliSession"

[[migrations]]
tag = "v1"
new_sqlite_classes = ["KaliSession"]

[[migrations]]
tag = "v2"
renamed_classes = [{ from = "KaliSession", to = "Webtop" }]

[[migrations]]
tag = "v3"
renamed_classes = [{ from = "Webtop", to = "KaliSession" }]


[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = false
persist = true
head_sampling_rate = 1