name = "kali-sessions"
main = "src/worker.ts"
compatibility_date = "2024-01-29"

routes = [
  { pattern = "kali.chewbacca.dev", custom_domain = true }
]

[site]
bucket = "./public"

[[containers]]
class_name = "KaliContainer"
image = "./container/Dockerfile"
max_instances = 10

[[containers.bindings]]
name = "KALI_CONTAINER"

[[durable_objects.bindings]]
name = "KALI_SESSION"
class_name = "KaliSession"

[[migrations]]
tag = "v1"
new_sqlite_classes = ["KaliSession"]

[[kv_namespaces]]
binding = "SESSION_INDEX"
id = "86361887b1004deb92b58981ad0ca78e"

[vars]
ADMIN_GROUP = "kali-admins"
IDLE_TIMEOUT_MS = "1800000"
MAX_SESSIONS_PER_USER = "1"
NOVNC_PORT = "6901"
